node_modules/
default-*.json
.env
.yo-rc.json
.vscode/
coverage/
gen/
dist/
manifest-bundle.zip
connection.properties
*-private.http
*-private.json
*-private.mtaext
*.db
*.mtar
*.mta
*.log
*.zip
_out
.che/
.gen/
.DS_Store
.vscode/*
*.sqlite
_Archive/
